<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
<link href='https://fonts.googleapis.com/css?family=Raleway:200,300,400' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yantramanav:400,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">Home</a></li>
	<!--<li><a href="/">Blog</a></li>-->
	<li><a href="research.html">Research</a></li>
	<li><a href="teaching.html">Teaching</a></li>
	<li><a href="https://github.com/dcervone" target="_blank">Code</a></li>
	<li><a href="http://www.xyresearch.com" target="_blank">XY</a></li>
	<!--<li><a href="contact.html">Contact</a></li>-->
	
	<li style="float: right"><a href="https://www.linkedin.com/pub/daniel-cervone/82/709/2b" target="_blank"><img src="images/linkedin.png" width=40px></a></li>
		
	<li style="float: right"><a href="https://www.facebook.com/daniel.cervone.1" target="_blank"><img src="images/facebook.png" width=40px></a></li>

	<li style="float: right"><a href="https://twitter.com/dcervone0" target="_blank"><img src="images/twitter.png" width=40px></a></li>

	
	</ul>
      </nav>
    <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
<!--
    <footer>
      <ul>
	<li><a href="mailto:dcervone@gmail.com">email</a></li>
	<li><a href="https://github.com/dcervone">github.com/dcervone</a></li>
	</ul>
      </footer> 
-->

    </body>
  </html>
